env: dev
loadBalancerIP: 20.75.71.185
image:
  port: 8078
  name: acrspsfstage.azurecr.io/dev/spsf-core-service # acr image name

requests:
  cpu:
  memory:

limits:
  cpu:
  memory:

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 20
