env: ppe
loadBalancerIP: 10.0.25.50
image:
  port: 8078
  name: trkspsfcrppepsyacr.azurecr.io/ppe/spsf-core-service # acr image name

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 30

internalIP: true

unprivileged: true
requests:
  cpu:
  memory:

limits:
  cpu:
  memory: