name: Deploy node-dev to cloud
on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: "node-dev branch name"
        required: true
      environment:
        type: environment

jobs:
  inject_secrets:
    runs-on: ubuntu-latest
    name: Inject tf secrets
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Inject secrets
      env:
        TF_BACKEND_CONF_FILE: ${{ secrets.TFBACKEND }}
        TF_VARS_FILE: ${{ env.TFVARS }}
      run: |
        echo $TF_BACKEND_CONF_FILE | base64 --decode > backend.conf
        cp backend.conf /home/runner/work/cloud-devops/cloud-devops/terraform/image_gallery/backends/backend.conf
        cp backend.conf /home/runner/work/cloud-devops/cloud-devops/terraform/node-dev/backends/backend.conf
        echo "file=$(cat /home/runner/work/cloud-devops/cloud-devops/terraform/node-dev/backends/backend.conf)" >> $GITHUB_OUTPUT