name: Deploy shared infrastructure for new environments
on:
  workflow_dispatch:

env:
  us_rg: rg-trk-uni-shared-eastus
  us_sub: TRK-PROD
  eu_sub: TRK-Europe-Pilot
  eu_rg: rg-trk-uni-shared-weu
  

jobs:
  deploy_eastus:
    name: Deploy eastus infrastructure
    runs-on: ubuntu-latest
    environment: bicep-us-eastus
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Create ${{ env.us_rg }} in ${{ env.us_sub }}
      run: |
        az account set --subscription ${{ env.us_sub }}
        if [ $(az group exists --name ${{ env.us_rg }}) = false ]; then
          az group create --name ${{ env.us_rg }} --location eastus
        fi
    - name: Validate bicep deployment
      working-directory: bicep/shared
      run: |
        az deployment group validate --name SharedEastUSDeployment --resource-group ${{ env.us_rg }} \
          --template-file main.bicep \
          --parameters params/eastus.bicepparam
    - name: Deploy infra 
      working-directory: bicep/shared
      run: |
        az deployment group create --name SharedEastUSDeployment --resource-group ${{ env.us_rg }} \
          --template-file main.bicep \
          --parameters params/eastus.bicepparam
  deploy_weu:
    name: Deploy West Europe infrastructure
    runs-on: ubuntu-latest
    environment: bicep-europe-west
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Create ${{ env.eu_rg }} in ${{ env.eu_sub }}
      run: |
        az account set --subscription ${{ env.eu_sub }}
        if [ $(az group exists --name ${{ env.eu_rg }}) = false ]; then
          az group create --name ${{ env.eu_rg }} --location westeurope
        fi
    - name: Validate bicep deployment
      working-directory: bicep/shared
      run: |
        az deployment group validate --name SharedEUW2Deployment --resource-group ${{ env.eu_rg }} \
          --template-file main.bicep \
          --parameters params/euwest.bicepparam
    - name: Deploy infra 
      working-directory: bicep/shared
      run: |
        az deployment group create --name SharedEUW2Deployment --resource-group ${{ env.eu_rg }} \
          --template-file main.bicep \
          --parameters params/euwest.bicepparam
      
      

        